@import './base/var';
@import './base/mixin';
@import './base/mapa';

body{
    background-color: map-get($temas, tema-claro);
    header{
        background-color: map-get($temas, tema-oscuro);
        overflow: hidden;
    }
    main{
        margin-top: 7rem;
        max-width: $ancho-maximo-contenido;
    }
    footer{
        @extend header
    }
}


H1{
    font-family: $fuente-principal;
    font-size: $tamano-txt-normal*3;
}

.jy-form{
    border: none;
    background-color: $color-card;
}
.jy-card{
    background-color: $color-card;

}

.jy-btn-1{
    @include estilo-botones($color-texto);
    border: none;
    background-color: $color-secundario;
}
.jy-btn-2{
    @include estilo-botones($color-texto);
    border: solid 0.2rem $color-secundario;
    margin-right: 0.5rem;
}
.jy-color{
    color: aliceblue;
}

.jy-margin{
    margin-left: 0;
    margin-right: 0;
}