$color-primario: #0E2537;
$color-secundario: #F0C984;
$color-fondo: #F6F8FA;
$color-texto: #061017;
$color-card: #E7E9EB;
$fuente-principal: 'Raleway';
$tamano-txt-normal: 1rem;
$ancho-maximo-contenido: 1200px;
